@charset "utf-8";

/* background image */
.u_likeit_list_module .u_likeit_list_btn .u_ico, .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-image: url(https://ssl.pstatic.net/static/m/likeit/cafe/sp_likeit_161212.png);
    background-size: 100px 40px;
    -webkit-background-size: 100px 40px;
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_ico {
    width: 17px;
    height: 15px;
    margin-right: 1px;
    background-position: 0 0;
    vertical-align: top;
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-position: 0 -20px;
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn.disabled {
    opacity: 0.3;
    cursor: default;
}
.btn_like_w .u_likeit_list_module .u_none_txt .u_txt{display:none !important}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn{display:inline-block;overflow:hidden;height:40px;padding:12px 13px 0 13px;box-sizing:border-box}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_ico{display:inline-block;overflow:hidden;vertical-align:top}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_cnt,.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_txt{
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: 15px;
    vertical-align: top;
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    position: relative;
    top: -3px;
    font-size: 16px;
    vertical-align: -1px;
    font-family: 'HelveticaNeue-Light', 'AppleSDGothicNeo-Light', Helvetica, sans-serif;
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_txt{
    font-family:Helvetica Neue,AppleSDGothicNeo-Regular,sans-serif
}
.btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_cnt, .btn_like_w .u_likeit_list_module .u_likeit_list_btn .u_txt {
    font-weight: normal;
}

/* 하단고정바 좋아요 버튼 */
.footer_fix .u_likeit_list_module {
    display: inline-block;
    vertical-align: top;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn {
    height: auto;
    padding: 0;
    line-height: inherit;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn:before {
    display: none;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn .u_ico {
    width: 18px;
    height: 17px;
    margin: 1px 0 0;
    background-position: -25px 0;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-position: -25px -20px;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn .u_cnt, .footer_fix .u_likeit_list_module .u_likeit_list_btn .u_txt {
    font-family: '나눔고딕',NanumGothic,'맑은 고딕','Helvetica Neue', 'Apple SD Gothic Neo', sans-serif;
    font-weight: normal;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-style: normal;
    line-height: inherit;
}
.footer_fix .u_likeit_list_module .u_likeit_list_btn.on .u_cnt {
    color: #ff5151;
}

/* 인기글 좋아요 목록 */
.communi_status .u_likeit_list_module {
    display: inline-block;
    vertical-align: top;
}
.communi_status .u_likeit_list_module span:before {
    display: none !important;
}
.communi_status .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: Helvetica, 'Apple SD Gothic Neo', sans-serif;
    font-weight: normal;
    vertical-align: top;
    line-height: 17px;
}
.communi_status .u_likeit_list_module .u_likeit_list_btn .u_ico {
    width: 16px;
    height: 14px;
    margin-top: 2px;
    vertical-align: top;
    background-position: -50px -20px;
}
/* 인기카드 인기글 좋아요 목록 */
.card_wrap .communi_status .u_likeit_list_module .u_likeit_list_btn .u_ico {
    margin-top: 2px;
    background-position: -50px 0;
    opacity: 0.5;
}
/* 프로필페이지 인기글 좋아요 목록 */
.profile_popular .communi_status .u_likeit_list_module .u_likeit_list_btn .u_ico {
    margin-right: 5px;
}
/* 인앱 인기글 좋아요 목록 */
.inapp_type .communi_status .u_likeit_list_module .u_likeit_list_btn .u_txt.blind {
    float: left;
}
.inapp_type .communi_status .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: Helvetica,sans-serif;
}
/* 지링크홈 이벤트탭 */
.content_glink .desc_event .u_likeit_list_module {
    float: left;
    padding-left: 16px;
    font-size: 14px;
    line-height: 19px;
    color: #555;
}
.content_glink .desc_event .u_likeit_list_module .u_likeit_list_btn .u_ico {
    float: left;
    width: 20px;
    height: 19px;
    margin: 1px 5px 0 0;
    background-position: -75px 0;
}
.content_glink .desc_event .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-position: -75px -20px;
}
.content_glink .desc_event .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: Helvetica Neue,sans-serif;
    font-weight: normal;
    color: #555;
}